@mixin font($font_name, $file_name, $weight, $style) {
  @font-face {
    font-family: $font_name;
    font-display: swap;
    src: url('../fonts/#{$file_name}.woff') format('woff'),
      url('../fonts/#{$file_name}.woff2') format('woff2');
    font-weight: #{$weight};
    font-style: #{$style};
  }
};

@import 'fonts';

body {
  font-size: 15px;
  display: grid;
  div {
    background: url('../img/image.jpg') 0 0 no-repeat;
  }
  p {
    color: red;
    font-size: 30px;
    @media (max-width: 993px) {
      font-size: 15px;
    }
  }
}

h1 {
  font-size: 21px;
  @media (max-width: 767px) {
    font-size: 15px;
  }
}
